h1 {
    color:#00ff00;
 }

 .header{
     background-color:#B800ff;
     display:flex;
     justify-content: space-between;
 }

 .menu{
     background-color: seagreen;
 }

 .grid{
     display:flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }

 .footer{
    display:flex;
    justify-content: flex-end;
}

body{
    background-color:#C864AF;
}

